.dropdown {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  min-width: 200px;

  &__placeholder {
    display: flex;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
  }

  &__selector {
    border-radius: 4px;
    border: 1px solid #bdc3c4;
    padding: 4px 4px;
  }
}

// .select-container {
//   font-family: 'Arial', sans-serif;
//   position: relative;
//   width: 250px;
//   margin: 20px;
// }

// .select-container label {
//   color: #666;
//   font-size: 14px;
//   font-weight: normal;
//   position: absolute;
//   pointer-events: none;
//   left: 10px;
//   top: 10px;
//   transition: 0.2s ease all;
// }

// .select-container select {
//   width: 100%;
//   height: 40px;
//   border-radius: 20px;
//   border: 1px solid #ccc;
//   padding: 5px 10px;
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   background-color: #fff;
//   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
//   cursor: pointer;
//   font-size: 16px;
//   color: #666;
// }

// /* Arrow styles */
// .select-container::after {
//   content: '\25BC'; /* Down arrow */
//   position: absolute;
//   top: 18px;
//   right: 15px;
//   pointer-events: none;
//   color: #333;
//   font-size: 10px;
// }

// /* Focus and active styles */
// .select-container select:focus,
// .select-container select:active {
//   outline: none;
//   border-color: #aaa;
// }

// /* Change label position and color when select is focused */
// .select-container select:focus + label,
// .select-container select:active + label {
//   top: -10px;
//   left: 5px;
//   font-size: 10px;
//   color: #333;
// }
